@model NaPegada.Web.Models.UserViewModel
@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    @Html.Partial("_Menu")
</div>
<div class="container">
    Bem vindo, @Model.User.Name
</div>


