@model NaPegada.Web.Models.UserViewModel
@{
    ViewBag.Title = "LogIn";
}

<div class="container">
    <div class="form-register">
        <h2 class="text-center">Entrar</h2>
        @using (Ajax.BeginForm("", "", new AjaxOptions { }, new { @class = "form" }))
        {
            <fieldset>
                <div class="form-group">
                    <label for="User_Mail">Seu endereço de e-mail</label>
                    @Html.TextBoxFor(u => u.User.Mail, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label for="User_Mail">Criar uma senha</label>
                    @Html.PasswordFor(u => u.User.Password, new { @class = "form-control" })
                </div>
                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(u => u.User.StayConnected) Mantenha-me conectado.
                    </label>
                </div>

                <button type="submit">Entrar</button>
                <div class="forgot">
                    <p>
                        <a href="">Esqueceu a senha?</a>
                    </p>
                </div>
            </fieldset>
        }
    </div>
    <div class="text-center already">
        <p>Não possui uma conta?</p>
        <h4>
            @Html.ActionLink("Crie uma conta", "Register", "User")
        </h4>
    </div>
</div>