<div class="navbar navbar-default borderMenu">   

    <ul class="nav navbar-nav menu">
        <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>Menu &nbsp; <b class="caret"></b></h5></a>
            <ul class="dropdown-menu">
                <li><a href="#" data-toggle="modal" data-target="#modal-entrar"><h6>Entrar</h6></a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal-cadastrar"><h6>Cadastrar</h6></a></li>
            </ul>
        </li>
    </ul>
    </div>



<!-- Modal -->
<div class="modal fade" id="modal-entrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Entrar</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("_Entrar")

            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal-cadastrar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Entrar</h4>
            </div>
            <div class="modal-body">

                @Html.Partial("_Registrar")

            </div>

        </div>
    </div>
</div>