<nav class="navbar navbar-default menu-site" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Na Pegada</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.RouteLink("criar conta", "UserArea", new { controller = "User", action = "Register" })</li>
                <li>@Html.RouteLink("entrar", "UserArea", new { controller = "User", action = "LogIn" })</li>
            </ul>
        </div>
    </div>
</nav>
