@if (HttpContext.Current.Session["napegada_auth"] == null)
{
    <div class="navbar navbar-default menu">
        <ul class="nav navbar-nav">
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>Menu &nbsp; <b class="caret"></b></h5></a>
                <ul class="dropdown-menu">
                    <li><a href="#" data-toggle="modal" data-target="#modal-entrar"><h6>Entrar</h6></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#modal-cadastrar"><h6>Cadastrar</h6></a></li>
                </ul>
            </li>
        </ul>
    </div>
    <!--Modal's-->
    @Html.Partial("_Entrar")
    @Html.Partial("_Registrar")
}
else
{
    <div class="navbar navbar-default menu">
        <ul class="nav navbar-nav">
            <li>Bem vindo, Usuario X</li>
            <li class="dropdown active">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><h5>Menu &nbsp; <b class="caret"></b></h5></a>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("Sair", "Usuario")">Sair</a></li>
                </ul>
            </li>
        </ul>
    </div>
}