@*@model NaPegada.Web.Models.Usuario.MeuPerfilViewModel*@

<div class="modal fade" id="modal-perfil" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Meu Perfil</h4>
            </div>
            <div class="modal-body">
                <h2>Nome do Usuario</h2>
                <hr />
                <div class="msg"></div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#dados" role="tab" data-toggle="tab">Meus dados</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="dados">
                        <div class="msg-p"></div>
                        <form id="frm-usuario-perfil-dados" class="form">
                            <input type="text" hidden="hidden" name="Id" id="p-id" value="" />
                            <div class="form-group">
                                <label for="p-nome">Meu nome:</label>
                                <input type="text" name="Nome" id="p-nome" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="p-nome">Meu e-mail:</label>
                                <input type="text" name="Email" id="p-email" class="form-control" />
                            </div>
                            <button id="btn-atualizar-perfil-dados" class="btn btn-success" type="button">Salvar alterações</button>
                            <span class="load-p"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>