.form-register {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 6%;
}

    .form-register h2.text-center {
        color: #1fae52;
    }

    .form-register fieldset {
        border: solid 1px #d0d0d0;
        padding: 10%;
    }

    .form-register > form input[type="text"], input[type="password"] {
        height: 50px;
        border-radius: 0;
        padding: 4%;
    }

    .form-register > form button {
        width: 100%;
        height: 50px;
        background: #2dbe60;
        border-radius: 0;
        border: none;
        color: #ffffff;
        font-size: 16px;
    }

        .form-register > form button:hover {
            background: #1fae52;
            color: #ffffff;
        }

.already {
    margin-top: 2%;
}

    .already > h4 a {
        text-decoration: none;
        color: #1fae52;
    }

.forgot {
    margin-top: 5%;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.alerts-user {
    font-size: 20px;
}

.page-header nav {
    background: #ffffff;
    border: none;
    box-shadow: none;
}

.glyphicon {
    position: relative;
    top: 5px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.box-user {
    max-width: 500px;
    max-height: 500px;
    width: 250px;
    height: 310px;
    padding: 5%;
}

    .box-user .item {
        display: inline-block;
    }

    .box-user > .foto img {
        width: 230px;
        height: 190px;
    }

    .box-user .info, .box-user .config {
        margin: 0 auto;
    }

.form-search {
    margin-top: 2%;
}

    .form-search .input-search {
        width: 500px;
        height: 30px;
    }

    .form-search .btn-search {
        border-radius: 0;
        height: 30px;
    }
