.form-register {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10%;
}

    .form-register h2.text-center {
        color: #1fae52;
    }

    .form-register fieldset {
        border: solid 1px #d0d0d0;
        padding: 10%;
    }

    .form-register > form input[type="text"], input[type="password"] {
        height: 50px;
        border-radius: 0;
        padding: 4%;
    }

    .form-register > form button {
        width: 100%;
        height: 50px;
        background: #2dbe60;
        border-radius: 0;
        border: none;
        color: #ffffff;
        font-size: 16px;
    }

        .form-register > form button:hover {
            background: #1fae52;
            color: #ffffff;
        }

.already {
    margin-top: 2%;
}

    .already > h4 a {
        text-decoration: none;
        color: #1fae52;
    }

.forgot {
    margin-top: 5%;
}
