.menu-site {
    border-radius: 0;
    border-top: solid 3px #20c05c;
    opacity: 0.70;
    padding-left: 0;
    padding-right: 0;
    right: 0;
    left: 0;
    top: 0;
}

    .menu-site a {
        text-transform: uppercase;
    }
