@using NaPegada.Web.Models.Usuario;

@{Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Na Pegada</title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="~/Content/css/bootstrap-site.min.css" rel="stylesheet" />

    <link href="~/Content/css/styles.css" rel="stylesheet" />
    <link href="~/Content/css/foto.css" rel="stylesheet" />
    <link href="~/Content/css/demo.css" rel="stylesheet" />

</head>
<body>

    @Html.Partial("_MenuSite")

    <div class="container">

    <h2>História</h2>

        <div>
            <p>A Napegada teve origem nos trabalhos de proteção animal executados pela equipe de AM, que se iniciaram há 6 meses com a sua paixão por estes anjos de quatro patas abandonados, judiados e esquecidos pela sociedade.</p>

<p>Como todo protetor, no começo nos dedicamos a qualquer animal que precisasse de ajuda. Com o passar do tempo, constatou que haviam muitas protetoras que se dedicavam à causa, porém, que os animais de grande porte e, principalmente, os famigerados e estigmatizados Pit Bull’s não eram resgatados na mesma proporção dos de pequeno e médio porte.</p>

<p>Hoje, a Equipe Napegada, juntamente com o apoio de centenas de simpatizantes da causa como ONG'S, tem  um único ideal: Salvar as vidas dos animais abandonados nas ruas, principalmente o de   grande porte,  resgatando, tratando, medicando, vermifugando, vacinando, castrando, socializando e conseguindo bons e definitivos lares para eles! </p>
<p>
    <strong>Nosso Trabalho:</strong></p>
            <p>
Desenvolver um webSite que auxilie pessoas que tenha um certo carinho por animal, é que ao inves de desfaze-lo de seu animal deixando-o na rua
tenha a possibildade de doalo sem nenhum custo para pessoas interessadas em animais da mesma especie. E também de animais abandonados nas proximidades de sua casa.

</p>
        </div>

    <footer>
        <hr class="featurette-divider">
        <p class="pull-right"><a href="#">Subir pro topo</a></p>
        <p style="align-content:center;">© Na Pegada. Todos os direitos reservados.</a></p>
    </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/napegada.js"></script>
    @Html.Partial("_Entrar")
    @Html.Partial("_Registrar", new RegistroEhLoginViewModel())

    

</body>
</html>