<div>
    <h2>HOME</h2>
    @if (HttpContext.Current.Session["napegada_auth"] != null)
    {
        <p>Você esta logado !</p>
    }
    else
    {
        <p>Você não esta logado !</p>
    }
</div>
@section scripts{
    @Scripts.Render("~/Scripts/napegada.js")
}