@model NaPegada.Web.Models.UsuarioViewModel
<div>
    <h2>/Site/Home</h2>
    @if (Session["napegada_auth"] != null)
    {
        <p>Você está logado.</p>
    }
    else
    {
        <p>Você não está logado.</p>
    }
</div>
@section scripts{
    @Scripts.Render("~/Scripts/napegada.js")
}