@model NaPegada.Web.Models.UsuarioViewModel
@{
    ViewBag.Title = Model.Usuario.Nome;
}

<div class="page-header">
    @Html.Partial("_Menu")
</div>
<div class="container">
    Bem vindo, @Model.Usuario.Nome
</div>


