@model NaPegada.Web.Models.UsuarioViewModel
@{
    ViewBag.Title = ViewBag.Title == string.Empty ? Model.Nome : Model.Email;
}
<div class="page-header">
    @Html.Partial("_Menu")
</div>
<div>
    Bem vindo, @Model.Nome
</div>


