<!--
    
    Está tela ira trazer as lista de doções do usuário e terá
    um botão "CADATRAR DOAÇÃO", que ira abrir um modal apresentando
    o formulário de doação
    
-->


@{
    ViewBag.Title = "MinhasDoacoes";
}

<h2>MinhasDoacoes</h2>
