<div class="alert alert-dismissable alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
    <strong>
        <span class="glyphicon glyphicon-ok-circle"></span>
    </strong>
    @TempData["sucesso"].ToString()
</div>
